<header class="site-header" role="banner">
  {%- assign site_pages = site.data.navigation -%}

  {%- if site_pages -%}
    <nav class="navbar navbar-expand-md navbar-light my-navbar px-3 py-1">
      <div class="container-fluid">
        <span class="navbar-brand">
          <span class="icon-earmuffs"></span>
          <b>FJ</b>
        </span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            {%- for page in site_pages -%}
              <li class="nav-item">
                <a class="nav-link px-4" href="{{ page.link }}">
                  {{ page.name }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
      
    </nav>
  {%- endif -%}
</header>
