p, h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
  color: $my-darkest;
}

a {
  color: $my-theme-darkest;

  i {
    color: $my-theme-darkest;
  }

  &:visited {
    color: $my-theme-darkest;
  }
}
