@import "syntax-highlighting";

.my-post {
  #blog-summary {
    font-style: italic;
    display: block;
    padding-bottom: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  // Canvas
  canvas {
    background-color: $my-lighter;
  }

  // Spacing

  h1, h2 {
    padding-top: 16px;
  }

  h3 {
    padding-top: 12px;
  }

  p {
    margin-bottom: 1.3em;
  }

  img {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  // Font size

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4, h5, h6 {
    font-size: 1em;
  }

  code {
    font-size: 0.9em;
  }
}
