@import "syntax-highlighting";

.my-post {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  // Spacing

  h1, h2 {
    padding-top: 16px;
  }

  h3 {
    padding-top: 12px;
  }
  
  // Font size

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4, h5, h6 {
    font-size: 1em;
  }
}
