@import "open-color";
@import "variables";

@mixin background-cover($img) {
  background: $img no-repeat fixed;
  background-size: cover;
}

* {
  font-family: $font-main;
  color: $my-darkest;
}

// Navbar
.site-header {
  border-top: 6px solid $my-darker;
  border-bottom: 0;

  .my-navbar {
    .navbar-brand {
      font-size: 1.5em;
      color: $my-darkest;
    }

    .navbar-nav {
      margin-left: 0px;
      font-size: 0.9em;

      .nav-link {
        text-decoration: none;
      }
    }
  } 
}

// Home layout
.home-body {
  @include background-cover($background-home);
}

// Page layout
.page-body {
  @include background-cover($background);

  .post-header {
    .post-title {
      font-weight: 600;
    }
  }
}

// Footer
.site-footer {
  border-top: 0;

  .footer-text {
    color: $my-dark;
  }
}

#my-portfolio {
  .project-preview {
    &:hover {
      cursor: pointer;
    }
  }

  .project-framework-pill {
    background-color: $my-lighter;
    color: $my-dark;
    font-size: 12px;
    font-weight: 600;
  }

  .project-modal {
    .my-modal-header {
      font-weight: bold;
    }
  }
}
