p, h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
  color: $my-darkest;
}

// Custom icons
.icon-earmuffs {
  @include custom-icon(url("img/misc/earmuffs.svg"));
}

.icon-earmuffs-edit {
  @include custom-icon(url("img/misc/earmuffs-edit.svg"));
}

// General
a {
  color: $my-theme-darkest;

  i {
    color: $my-theme-darkest;
  }

  &:visited {
    color: $my-theme-darkest;
  }
}

.my-button {
  background: $my-theme-darker;
  border: 4px solid $my-theme-darker;
  border-radius: 999px;
  color: $my-lightest !important;

  i {
    color: $my-lightest;
  }

  &:hover {
    text-decoration: none;
    background: $my-theme-darkest;
    border-color: $my-theme-darkest;
  }
}

.my-pill {
  background-color: $my-lighter !important;
  color: $my-darker;
  font-size: 12px;
  font-weight: 600;
}

// Back to top button
#btn-back-to-top {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  display: none;
  border-radius: 999px;
  background-color: $my-theme-dark;
  color: $my-lightest;
}

// Navbar
.site-header {
  border-top: 6px solid $my-darker;
  border-bottom: 0;

  .my-navbar {
    .navbar-brand {
      font-size: 1.25em;
      color: $my-darkest;
      text-decoration: none;

      .icon-earmuffs {
        font-size: 1.7em;
      }
    }

    .navbar-nav {
      margin-left: 0px;
      font-size: 0.9em;

      .nav-link {
        text-decoration: none;
        color: $my-grey;

        &:hover {
          color: $my-darkest;
        }
      }

      .dropdown-item {
        text-decoration: none;
        color: $my-grey;

        &:hover {
          color: $my-darkest;
          background-color: $my-lighter;
        }

        &:active {
          color: $my-darkest;
          background-color: $my-lighter;
        }
      }
    }

    .brand-temp {
      visibility: hidden;

      @media (max-width: map-get($grid-breakpoints, md)) {
        display: none !important;
      }
    }
  } 
}

// Home layout
.home-body {
  @include background-cover($background-home);
}

// Page layout
.page-body {
  @include background-cover($background);

  #title-jumbotron {
    @include background-blur-default($background-blog);
    height: calc(max(20vw, 280px));

    .page-description {
      font-weight: 600;
      font-size: 32px;
    }
  }

  .post-header {
    .post-title {
      font-weight: 600;
    }
  }
}

// Footer
.site-footer {
  border-top: 0;

  .footer-text {
    color: $my-dark;
  }
}

@import "page/home";
@import "page/portfolio";
@import "page/games";
@import "page/blog";
@import "page/error";
