#my-portfolio {
  .project-preview {
    &:hover {
      cursor: pointer;
    }
  }

  .project-framework-pill {
    background-color: $my-lightest !important;
    color: $my-dark;
    font-size: 12px;
    font-weight: 600;
  }

  .project-modal {
    .my-modal-header {
      font-weight: bold;
    }
  }
}
