@import "open-color";

// Colours
$my-theme-lightest: $oc-blue-1;
$my-theme-lighter: $oc-blue-2;
$my-theme-light: $oc-blue-3;
$my-theme-darkest: $oc-blue-9;
$my-theme-darker: $oc-blue-8;
$my-theme-dark: $oc-blue-7;
$my-white: #fff;
$my-lightest: $oc-gray-0;
$my-lighter-2: $oc-gray-1;
$my-lighter: $oc-gray-2;
$my-light: $oc-gray-3;
$my-grey: $oc-gray-6;
$my-dark: $oc-gray-7;
$my-darker: $oc-gray-8;
$my-darkest: $oc-gray-9;
$my-black: #000;

// Background
$bg-base-path: "img/bg/";
$background: url($bg-base-path + "bg-trace-2.svg");
$background-home: url($bg-base-path + "bg-trace-2-colour.svg");
$background-blog: url($bg-base-path + "birds-trace-2.png");

// Font
$font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// BootStrap Media
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Overriden variables
$spacing-unit: 30px;
$content-width: calc(max(58vw, 1000px));
