#my-jumbotron {
  // Make Jumbotron bigger for extra-large screens
  // So the home page is mostly taken up by the title
  @media (min-width: map-get($grid-breakpoints, xl)) {
    padding-top: 2em;
    padding-bottom: 3em;
  }

  @media (min-width: map-get($grid-breakpoints, xxl)) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  #atf {
    display: flex;

    @media (max-width: map-get($grid-breakpoints, sm-max)) {
      flex-direction: column;
    }

    #atf-left {
      @include flex-full-center;
      flex-direction: column;


      #home-me {
        $size: 324px;
  
        max-width: $size;
        max-height: $size;
        
        @include hexagon-border(15%, 85%);

        @media (max-width: map-get($grid-breakpoints, md-max)) {
          $small-size: 256px;
          max-width: $small-size;
          max-height: $small-size;
        }
      }
  
      .title {
        font-size: 3em;
        font-weight: 600;

        @media (max-width: map-get($grid-breakpoints, md-max)) {
          font-size: 2em;
        }
      }

      .subtitle {
        font-size: 1.75em;
        font-weight: 600;

        @media (max-width: map-get($grid-breakpoints, md-max)) {
          font-size: 1.5em;
        }
      }
    }

    #atf-right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .flower-crown {
        @include flex-full-center;
        border: 1px solid $my-light;
        border-radius: 8px;
        padding: 1em;
        background: $my-white;

        // For md only
        @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: calc(map-get($grid-breakpoints, sm-max))) {
          margin-left: 4em;
          margin-right: 4em;
        }
        

        img {
          max-height: 96px;

          @media (max-width: map-get($grid-breakpoints, md-max)) {
            max-height: 64px;
          }
        }
      }

      .subheading {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 4px;
        margin-left: 6px;
      }

      .subheading-divider {
        margin-bottom: 1em;
      }

      #site-redirect {
        list-style-type: none;

        li:before {
          content: "»";
          margin-right: 4px;
        }

        li {
          font-weight: 600;
        }
      }

      // Social media
      .social-badge {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
