#my-home {
  // Default padding was 30px but this leaves space at the bottom
  padding: 0;
  padding-top: 30px;

  #my-jumbotron {
    .earmuffs-container {
      padding-right: 2em;

      .icon-earmuffs-edit {
        font-size: 6em;

        @media (max-width: map-get($grid-breakpoints, sm)) {
          font-size: 8em;
        }
      }

      text-align: end;

      @media (max-width: map-get($grid-breakpoints, md)) {
        text-align: center;
      }
    }
  
    .title-container {
      .title-role {
        font-size: 1.5em;
        font-weight: 600;
      }
    
      .title-name {
        font-size: 4em;
        font-weight: 600;
      }

      @media (max-width: map-get($grid-breakpoints, sm)) {
        .title-name {
          font-size: 3em;
        }
      }

      text-align: start;

      @media (max-width: map-get($grid-breakpoints, md)) {
        text-align: center;
      }
    }
  }

  // $oc-cyan-8 darkened
  $my-colour: #415559;

  .divider-1 {
    $width: calc(max(100%, #{map-get($grid-breakpoints, md)}));
    @include divider-bottom($width, 100px, $my-colour);
  }

  #my-container {
    background: $background-donut, $my-colour;
    background-size: auto 100%;

    p, h1, h2, h3, h4, h5, h6, b, i {
      color: $my-lighter;
    }

    a {
      color: $my-theme-light;

      i {
        color: $my-theme-light;
      }
    }

    #home-me {
      border: 4px solid $my-darkest;
      border-radius: 999px;

      @media (max-width: map-get($grid-breakpoints, md)) {
        max-width: 304px;
      }
    }

    // Small screen
    @media (max-width: map-get($grid-breakpoints, lg)) {
      text-align: center;

      #container-social {
        @include dark-container($my-darkest);
        border-radius: 8px;
        text-align: start;
      }
    }

    // Large screen
    @media (min-width: map-get($grid-breakpoints, lg)) {
      .container-info {
        @include dark-container($my-darkest);
        border-radius: 8px 32px 8px 32px !important;
      }
    }
  }

  .site-footer {
    background: $my-colour;

    .footer-text {
      color: $my-lighter;
    }
  }
}
