#my-jumbotron-new {
  // Make Jumbotron bigger for extra-large screens
  // So the home page is mostly taken up by the title
  @media (min-width: map-get($grid-breakpoints, xl)) {
    padding-top: 2em;
    padding-bottom: 3em;
  }

  #atf {
    display: flex;
    justify-content: space-evenly;

    #home-me {
      $size: 360px;

      max-width: $size;
      max-height: $size;
    }

    #atf-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .title-name {
        font-size: 4em;
        font-weight: 600;
      }

      .my-button {
        padding: 1em;

        .icon-container {
          $fontsize: 1.25em;

          // TODO Create mixin: flex-full-center
          display: flex;
          justify-content: center;
          align-items: center;

          width: $fontsize * 1.1;
          height: $fontsize * 1.1;
          font-size: $fontsize;
        }
      }
    }

  }
}
