.my-button {
  background: $my-theme-darker;
  border: 2px solid $my-theme-darker;
  border-radius: 999px;
  color: $my-lightest !important;

  i {
    color: $my-lightest;
  }

  &:hover {
    text-decoration: none;
    background: $my-theme-darkest;
    border-color: $my-theme-darkest;
  }
}

.my-button-outline {
  border: 2px solid $my-theme-darker;
  border-radius: 999px;
  color: $my-theme-darker !important;

  i {
    color: $my-theme-darker;
  }

  &:hover {
    text-decoration: none;
    background: $my-theme-darkest;
    border-color: $my-theme-darkest;
    color: $my-lightest !important;

    i {
      color: $my-lightest;
    }
  }
}
