// TODO This file should only style .my-navbar, not .site-header

.site-header {
  // Overriding Minima
  border-top: 6px solid $my-darker;
  // Overriding Minima
  border-bottom: 0;

  .my-navbar {
    $collapse-size: md;

    .navbar-brand {
      font-size: 1.25em;
      color: $my-darkest;
      text-decoration: none;

      .icon-earmuffs {
        font-size: 1.7em;
      }
    }

    .navbar-nav {
      margin-left: 0;
      font-size: 0.9em;

      .nav-link {
        text-decoration: none;
        color: $my-grey;
        padding: 0 32px 0 32px;

        i {
          color: $my-grey;
        }

        &:hover {
          color: $my-darkest;

          i {
            color: $my-darkest;
          }
        }

        @media (max-width: map-get($grid-breakpoints, $collapse-size)) {
          border-bottom: 1px solid $my-light;
        }
      }

      .dropdown-toggle {
        // Remove default Bootstrap dropdown caret
        &:after {
          display: none;
        }
      }

      // TODO Redesign this (looks ugly)
      .dropdown-item {
        text-decoration: none;
        color: $my-grey;

        &:hover {
          color: $my-darkest;
          background-color: $my-lighter;
        }

        &:active {
          color: $my-darkest;
          background-color: $my-lighter;
        }
      }
    }

    // Temporary element to get navbar centered
    .nav-filler {
      visibility: hidden;

      @media (max-width: map-get($grid-breakpoints, $collapse-size)) {
        display: none !important;
      }
    }
  } 
}
