---
layout: default
---

{%- if page.title-layout == "jumbotron" -%}
<main class="page-content page-body post-body p-0" aria-label="Content">
{%- else -%}
<main class="page-content page-body" aria-label="Content">
{%- endif -%}
  <article class="post">

    <header class="post-header">
      {%- if page.title-layout == "jumbotron" -%}
      {%- include title-jumbotron.html -%}
      {%- else -%}
        <h1 class="post-title text-center mt-3">{{ page.title | escape }}</h1>
      {%- endif -%}
    </header>
  
    <div class="wrapper">
      <div class="post-content">
        {{ content }}
      </div>
    </div>
  
  </article>
</main>
