---
layout: default
scripts: |
  <script src="../assets/js/backToTopButton.js"></script>
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- assign img_path = "assets/img/" -%}

<!-- Back to top button -->
<button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
  <i class="fa-solid fa-arrow-up"></i>
</button>

<main class="page-content page-body post-body" aria-label="Content">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-9">
        <article class="post">
  
          <header class="post-header">
            <h1 class="post-title mt-3">{{ page.title | escape }}</h1>
          </header>
    
          <div class="mb-5">
            <p>
              <i class="fa-solid fa-calendar me-3"></i>{{ page.date | date: date_format }}<br>
              {%- if page.author -%}
                <i class="fa-solid fa-user me-3"></i>{{ page.author }}<br>
              {%- endif -%}
            </p>
            {%- if page.cover_img -%}
              <img src="{{img_path}}{{page.cover_img}}" class="img-fluid">
            {%- endif -%}
          </div>
        
          <div class="post-content my-post">
            {{ content }}

            {%- if page.cover_src -%}
              <small>
                Cover image from:<br />
                <a href={{ page.cover_src }}
                   target="_blank" rel="noopener noreferrer">
                  {{ page.cover_src }}
                </a>
              </small>
            {%- endif -%}
          </div>
        
        </article>
      </div>
      <div class="col px-3 blog-sidelist">
        <h5 class="mt-3"><b>More Blog Posts</b></h5>

        {%- for post in site.posts -%}
        <p>
          <small>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </small>
        </p>
        {%- endfor -%}
      </div>
    </div>
  </div>
</main>
